[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
requests = "*"
"beautifulsoup4" = "*"
aiomysql = "*"
peewee = "*"
peewee-async = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
